@using Genericas;
@{
    ViewBag.Title = "Listar";
}

<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
    <style>
        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

        #team .card {
            border: none;
            background: #ffffff;
        }

        .image-flip:hover .backside,
        .image-flip.hover .backside {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            border-radius: .25rem;
        }

        .image-flip:hover .frontside,
        .image-flip.hover .frontside {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .mainflip {
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -ms-transition: 1s;
            -moz-transition: 1s;
            -moz-transform: perspective(1000px);
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
        }

        .frontside {
            position: relative;
            -webkit-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            z-index: 2;
            margin-bottom: 30px;
        }

        .backside {
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }

        .frontside,
        .backside {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 1s;
            -moz-transform-style: preserve-3d;
            -o-transition: 1s;
            -o-transform-style: preserve-3d;
            -ms-transition: 1s;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
        }

            .frontside .card,
            .backside .card {
                min-height: 312px;
            }

                .backside .card a {
                    font-size: 18px;
                    color: #007b5e !important;
                }

                .frontside .card .card-title,
                .backside .card .card-title {
                    color: #007b5e !important;
                }

                .frontside .card .card-body img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
         </style>

</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAdmin">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>

                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 2)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAgencia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>

                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexGuia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>

                    }
                    @if (Session["Usuario"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion"><i class="fa fa-power-off"></i></a>
                        </li>
                    }

                    @if (Session["Usuario"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Registracion">Registrate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Login">Login</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <h2 class="section-heading text-uppercase">Lista de publicaciones</h2>
                <div class="row">
                    @foreach (Publicacion p in ViewBag.ListaPublicaciones)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class="img-fluid"  style="width: 200px; height:200px;" src="@p.UrlFoto" alt="card image"></p>
                                                <br>
                                                <h4 style="color:#92bee2;">@p.Titulo</h4>
                                                <p class="card-text" style="color:dimgrey;"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 style="color:#92bee2;">@p.Titulo</h4>  <br>
                                                                                       <h5 class="card-text" style="color:dimgrey;">Ver m&aacute;s detalles de esta publicaci&oacute;n</h5>
                                            <br>
                                            <ul class="list-inline" >
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center"  href="/Publicacion/Detalle/@p.IdPublicacion">
                                                        <i class="fa fa-eye fa-3x" style="color:#92bee2;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail"  style="padding:0;">
                    <img class="img-fluid"  style="width:550px; height:250px;"  src="~/Content/img/avatar/@p.UrlFoto">
                    <div class="caption">
                        <h4>@p.Titulo</h4>
                        <p><a href="/Publicacion/Detalle/@p.IdPublicacion"><i class="fa fa-eye fa-lg"></i></a> </p>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                    </div>
                </div>
            </div>*@

                    }
                </div>
                                </div>

                            </div>

</header>




        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Contact form JavaScript -->
        <script src="~/Content/js/jqBootstrapValidation.js"></script>
        <script src="~/Content/js/contact_me.js"></script>
        <!-- Custom scripts for this template -->
        <script src="~/Content/js/agency.min.js"></script>
</body>

