
@using Genericas
@{
    ViewBag.Title = "RegistroViajero";
}

@model Usuario

<head>

</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>

        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Registro viajero</div>


                <form action="/Home/RegistroViajero" method="Post">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.HiddenFor(p => p.IdUsuario, new { @class = "form-control" })
                            Nombre: @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
                            Apellido: @Html.TextBoxFor(p => p.Apellido, new { @class = "form-control" })
                            Nombre Usuario: @Html.TextBoxFor(p => p.NombreUsuario, new { @class = "form-control" })
                            Nacionalidad: @Html.TextBoxFor(p => p.Nacionalidad, new { @class = "form-control" })

                        </div>
                        <div class="col-md-6">
                            Password: @Html.TextBoxFor(p => p.Password, new { @class = "form-control" })
                            Email: @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                            Edad: @Html.TextBoxFor(p => p.Edad, new { @class = "form-control" })
                            Descripcion:@Html.TextBoxFor(p => p.Descripcion, new { @class = "form-control" })
                        </div>
                        <div class="col-md-12">
                            <br>
                            <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Ingresar nuevo viajero" />

                        </div>
                    </div>



                </form>

                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Ingresar con Facebook" />
                </div>

                <a class="nav-link js-scroll-trigger" href="/Home/Registracion">Ingresa como otro tipo de usuario</a>



            </div>
        </div>
    </header>



    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>
