
@using Genericas;

@{
    ViewBag.Title = "IndexPerfil";
}
@model Usuario

<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAdmin">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>

                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 2)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAgencia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>

                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexGuia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>

                    }
                    @if (Session["Usuario"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Registracion">Registrate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Login">Login</a>
                        </li>
                    }

                    @if (Session["Usuario"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion">Salir</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <h4> VIAJERO: @Model.NombreUsuario </h4>
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4>Nombre y Apellido </h4>@Model.Nombre , @Model.Apellido <br><br>
                        <h4>Edad</h4>@Model.Edad <br><br>
                        <h4>Sobre mi..</h4>@Model.Descripcion<br><br>
                    </div>
                    <div class="col-lg-4">
                        @*<<Aca preguntar si son amigos se muestra el email sino se oculta>>*@
                        <h4>Email</h4>@Model.Email<br><br>
                        <h4>Estado de amistad</h4>Siguiendo o Seguir<br><br>
                        <h4>Calificar</h4> 
                        <form>
                            <p class="clasificacion">

                                <label for="radio1">&#9733;</label>

                                <label for="radio2">&#9733;</label>

                                <label for="radio3">&#9733;</label>

                                <label for="radio4">&#9733;</label>

                                <label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>




