
@using Genericas;

@{
    ViewBag.Title = "IndexPerfil";
}
@model Usuario

<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
    <style>
        input[type = "radio"] {
            display: none; /*position: absolute;top: -1000em;*/
        }

        label {
            color: grey;
            font-size: 40px;
        }

        .clasificacion {
            direction: rtl;
            unicode-bidi: bidi-override;
        }

        label:hover,
        label:hover ~ label {
            color: orange;
        }

        input[type = "radio"]:checked ~ label {
            color: orange;
        }
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAdmin">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 2)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAgencia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexGuia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Registracion">Registrate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Login">Login</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/Notificaciones"><i class="fa fa-bell"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion"><i class="fa fa-power-off"></i></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <h4> @Model.NombreUsuario </h4>

                            @if (Model.UrlFotoPerfil == null)
                            {
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                            }
                            else
                            {
                                <img src="@Model.UrlFotoPerfil" class="avatar img-circle img-thumbnail" alt="@Model.Nombre @Model.Apellido">
                            }
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4>Nombre y Apellido </h4>@Model.Nombre , @Model.Apellido <br><br>
                        <h4>Edad</h4>@Model.Edad <br><br>
                        <h4>Sobre mi..</h4>@Model.Descripcion<br><br>
                    </div>
                    <div class="col-lg-4">

                        @if (ViewBag.CheckeaAmistad != null)
                        {
                            <h4>Email</h4>@Model.Email <br><br>
                            <h4>Amistad</h4> <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Dejar de seguir </a><br><br>
                        }
                        else
                        {
                            <h4>Amistad</h4>
                            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Invitar </a>
                            <br><br>
                        }
                        <h4>Calificaci&oacute;n: @Model.Calificacion</h4> <br>
                        @if (ViewBag.CheckeaAmistad != null)
                        {
                            <form action="/Usuario/Calificar" method="Post">
                                @Html.HiddenFor(p => p.IdUsuario, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Nombre, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Apellido, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.NombreUsuario, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Nacionalidad, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Password, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Email, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Edad, new { @class = "form-control" })
                                @Html.HiddenFor(p => p.Descripcion, new { @class = "form-control" })
                                <div id="wrapper">
                                    <p class="clasificacion">
                                        @Html.RadioButtonFor(p => p.Calificacion, "5", new { id = "radio5" }) <label for="radio5">&#9733;</label>
                                        @Html.RadioButtonFor(p => p.Calificacion, "4", new { id = "radio4" }) <label for="radio4">&#9733;</label>
                                        @Html.RadioButtonFor(p => p.Calificacion, "3", new { id = "radio3" }) <label for="radio3">&#9733;</label>
                                        @Html.RadioButtonFor(p => p.Calificacion, "2", new { id = "radio2" }) <label for="radio2">&#9733;</label>
                                        @Html.RadioButtonFor(p => p.Calificacion, "1", new { id = "radio1" }) <label for="radio1">&#9733;</label>
                                    </p>
                                </div>
                                <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Calificar" />
                            </form>
                        }
                        else
                        {

                            if (Model.Calificacion > 10)
                            {<label for="radio1">&#9733;</label>
                                <label for="radio2">&#9733;</label>
                                <label for="radio3">&#9733;</label>
                                <label for="radio4">&#9733;</label>
                                <label for="radio5">&#9733;</label>}

                            if (Model.Calificacion <= 10 && Model.Calificacion > 5)
                            {<label for="radio1">&#9733;</label>
                                <label for="radio2">&#9733;</label>
                                <label for="radio3">&#9733;</label>
                                <label for="radio4">&#9733;</label>
                            }
                            if (Model.Calificacion <= 5)
                            {<label for="radio1">&#9733;</label>
                                <label for="radio2">&#9733;</label>
                                <label for="radio3">&#9733;</label>
                            }
                            if (Model.Calificacion <= 2)
                            {<label for="radio1">&#9733;</label>
                                <label for="radio2">&#9733;</label>
                            }
                            if (Model.Calificacion == 1)
                            {<label for="radio1">&#9733;</label>
                            }
                            if (Model.Calificacion == null)
                            {
                                @: No fue calificado
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>




