@using Genericas;

@{
    ViewBag.Title = "IndexAdmin";
}

@model List<Usuario>
<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
    <style>
        label {
            color: orange;
            font-size: 40px;
        }
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">



                    @if (ViewBag.UsuarioAdmin.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#page-top">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#viajeros">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#agencias">Agencias</a>
                        </li>
                    }

                 
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion"><i class="fa fa-power-off"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">

        <div class="container">
            <div class="intro-text">

                <div class="row">

                    <div class="col-lg-4">
                        <div class="text-center">
                            <h4> ADMIN:  @ViewBag.UsuarioAdmin.NombreUsuario </h4>
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                            <input type="file" class="text-center center-block file-upload">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4>Nombre y Apellido </h4>@ViewBag.UsuarioAdmin.Nombre , @ViewBag.UsuarioAdmin.Apellido<br> <br>
                        <h4>Edad</h4>@ViewBag.UsuarioAdmin.Edad <br><br>
                        <h4>Sobre mi..</h4>@ViewBag.UsuarioAdmin.Descripcion<br><br>

                    </div>
                    <div class="col-lg-4">
                        <h4>Email</h4>@ViewBag.UsuarioAdmin.Email<br><br>
                        <h4>Calificaci&oacute;n: @ViewBag.UsuarioAdmin.Calificacion</h4>  <br>
                        @if (ViewBag.UsuarioAdmin.Calificacion > 10)
                        {<label for="radio1">&#9733;</label>
                            <label for="radio2">&#9733;</label>
                            <label for="radio3">&#9733;</label>
                            <label for="radio4">&#9733;</label>}

                        @if (ViewBag.UsuarioAdmin.Calificacion < 10 && ViewBag.UsuarioAdmin.Calificacion > 5)
                        {<label for="radio1">&#9733;</label>
                            <label for="radio2">&#9733;</label>
                            <label for="radio3">&#9733;</label>
                        }

                        @if (ViewBag.UsuarioAdmin.Calificacion < 5)
                        {<label for="radio1">&#9733;</label>
                            <label for="radio2">&#9733;</label>

                        }
                        @if (ViewBag.UsuarioAdmin.Calificacion < 2)
                        {<label for="radio1">&#9733;</label>
                        }

                    </div>

                </div>
                @*<button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Editar Perfil</button>*@

            </div>

        </div>
    </header>
    <!-- ABM viajeros -->
    <section id="viajeros">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Lista de Usuarios viajeros</h2>
                </div>
            </div>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">

                        <div class="col-sm-6">
                            <a href="/Home/Registracion" class="btn btn-primary"><i class="fa fa-user fa-lg"></i> <span>Nuevo Usuario</span></a>

                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th></th>
                            <th>Id</th>
                            <th>NombreUsuario</th>
                            <th>Email</th>
                            <th>Edad</th>
                            <th>Rol</th>
                            <th>Descripcion</th>
                            <th> </th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Usuario u in Model)
                        {
                            if (u.IdRol == 3)
                            {
                        <tr>
                            <td>
                                <img style="float: left;width: 50px; height: 50px; margin-top: 10px;
                                        margin-bottom: 8px; margin-right: -10px; border-radius: 50%;" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="gaadiex-list-item-img" alt="Avatar">
                            </td>

                            <td>@u.IdUsuario</td>
                            <td>@u.NombreUsuario</td>
                            <td>@u.Email</td>
                            <td>@u.Edad</td>
                            @if (u.IdRol == 1)
                            {
                                <td>Agencia</td>}
                            @if (u.IdRol == 2)
                            {
                                <td>Admin</td>}
                            @if (u.IdRol == 3)
                            {
                                <td>Viajero</td>}
                            <td>@u.Descripcion</td>
                            <td>
                                <a href="/Usuario/EditarUsuario/@u.IdUsuario"><i class="fa fa-edit fa-lg"></i></a>
                            </td>
                            <td>
                                <a style="color:firebrick;" href="/Home/Eliminar/@u.IdUsuario"><i class="fa fa-window-close fa-lg"></i></a>
                            </td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </section>
    <!-- ABM Agencias -->
    <section id="agencias">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Lista de Agencias</h2>
                </div>
            </div>
            <div class="intro-text">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>NombreUsuario</th>
                            <th>Email</th>
                            <th>Edad</th>
                            <th>Rol</th>
                            <th>Descripcion</th>
                            <th> </th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Usuario u in Model)
                        {
                            if (u.IdRol == 2)
                            {
                        <tr><td>

                          <img style="float: left;width: 50px; height: 50px; margin-top: 10px;
                                        margin-bottom: 8px; margin-right: -10px; border-radius: 50%;" 
                              src="~/Content/img/avatar/@u.UrlFotoPerfil" class="gaadiex-list-item-img" alt="Avatar">
                            </td>
                            <td>@u.IdUsuario</td>
                            <td>@u.NombreUsuario</td>
                            <td>@u.Email</td>
                            <td>@u.Edad</td>
                            <td>@u.IdRol</td>
                            <td>@u.Descripcion</td>
                            <td>
                                <a href="/Usuario/EditarUsuario/@u.IdUsuario"><i class="fa fa-edit fa-lg"></i></a>
                            </td>
                            <td>
                                <a style="color:firebrick;" href="#"><i class="fa fa-window-close fa-lg"></i></a>
                            </td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>






