@using Genericas;
@{
    ViewBag.Title = "ListaAmigos";
}


<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
    <link href="~/Content/Usuario/ListaAmigos.css" rel="stylesheet" />
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAdmin">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 2)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAgencia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexGuia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Viajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/ListaAmigos">Mis amigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/Notificaciones"><i class="fa fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion"><i class="fa fa-power-off"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <h2 class="section-heading text-uppercase">Lista de amigos</h2>
                <br>
                @foreach (AmistadUsuario u in ViewBag.ListaAmigos)
                {

                    <div class="card card-color-black">
                        <div class="gaadiex-list gaadiex-list-padding">
                            <div class="row">

                                @if (u.IdResponsable == ViewBag.Usu.IdUsuario)
                                {
                                    <img class="gaadiex-list-item-img gaadiex-list-img-avatar" src="@u.Usuario.UrlFotoPerfil" alt="">
                                }
                                else
                                {
                                    <img class="gaadiex-list-item-img gaadiex-list-img-avatar" src="@u.Usuario1.UrlFotoPerfil" alt="avatar">
                                }

                                <div class="col-sm-8">
                                    <h3> <br></h3>
                                    <h5 style="color:dimgrey;">
                                        <a href="#">
                                            @if (u.IdResponsable == ViewBag.Usu.IdUsuario)
                                            {
                                                @:    @u.Usuario.NombreUsuario
                                            }
                                            else
                                            {
                                                @:    @u.Usuario1.NombreUsuario
                                            }
                                        </a>
                                        Amigos desde  @u.FechaCoincidencia.ToString("dd/MM/yyyy")
                                    </h5>

                                </div>
                                <div class="col-sm-2">
                                    <a href="/Usuario/IndexPerfil/@u.Usuario1.IdUsuario" class="btn btn-primary btn-margin-top-25" title="Ir a Perfil"><i class="fa fa-eye"></i> </a>
                                </div>
                            </div>



                        </div>

                    </div>

                }





            </div>
        </div>
    </header>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>




