@using Genericas;

@{
    ViewBag.Title = "Notificaciones";
}

@section scripts{
    <script type="text/javascript">
        function aceptarInvitarViajero(idSeguido) {

            $.ajax({
                url: '@Url.Action("AceptarInvitarViajero", "Viaje")',
                dataType: "json",
                data: { idSeguido: idSeguido },
                success: function (data) {
                    // Muestro un alert con el resultado del metodo
                    alert(data);
                    var url = '@Url.Action("Notificaciones", "Usuario")';
                    window.location.href = url;
                },
                error: function (xhr, status, error) {
                    alert("Error: " + error);
                }
            });
        };
    </script>

    <script type="text/javascript">
        function cancelarInvitarViajero(idSeguido) {
            $.ajax({
                url: '@Url.Action("CancelarInvitarViajero", "Viaje")',
                dataType: "json",
                data: { idSeguido: idSeguido },
                success: function (data) {
                    // Muestro un alert con el resultado del metodo
                    alert(data);
                    var url = '@Url.Action("Notificaciones", "Usuario")';
                    window.location.href = url;
                },
                error: function (xhr, status, error) {
                    alert("Error llamada Ajax ");
                }
            });
        };
    </script>
}

<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
    <link href="~/Content/Usuario/Notificaciones.css" rel="stylesheet" />
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAdmin">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 2)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAgencia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (Session["Usuario"] != null && ViewBag.Rol.IdRol == 4)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexGuia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Viajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/ListaAmigos">Mis amigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/Notificaciones"><i class="fa fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion"><i class="fa fa-power-off"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <h2 class="section-heading text-uppercase">Notificaciones</h2>
                <br>
                @foreach (AmistadUsuario u in ViewBag.ListaNotificaciones)
                {
                    <div class="card card-color-black">
                        <div class="gaadiex-list gaadiex-list-padding">
                            <div class="row">


                                @if (u.Usuario.UrlFotoPerfil == null || u.Usuario1.UrlFotoPerfil == null)
                                {
                                    <img class="gaadiex-list-item-img" style="float: left;width: 5%; height: 5%;  margin-top: 20px;
                                        margin-bottom: 8px; margin-right: 60px;  border-radius: 50%; margin-left: 20px;"
                                         src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="user">
                                }
                                else
                                {
                                    <img class="gaadiex-list-item-img" style="float: left;width: 5%; height: 5%;  margin-top: 20px;
                                        margin-bottom: 8px; margin-right: 60px;  border-radius: 50%; margin-left: 20px;" src="~/Content/img/avatar/@u.Usuario.UrlFotoPerfil" alt=" ">
                                }



                                <div class="col-sm-8">
                                    <h3 style="color:dimgrey;"> @u.Usuario1.NombreUsuario te invit&oacute; a conectarte.  </h3>                                    <h5 style="color:dimgrey;"> Estado de la invitacion: @u.Estado </h5>
                                </div>

                                <div class="col-sm-2">
                                    @if (u.Estado == "PENDIENTE")
                                    {
                                        <a href="#" class="btn btn-success btn-margin-top-15" onclick="aceptarInvitarViajero(@u.Usuario1.IdUsuario)" title="Aceptar Invitacion"><i class="fa fa-check"></i></a>
                                        <a href="#" class="btn btn-danger" style="margin-top:15%;" onclick="cancelarInvitarViajero(@u.Usuario1.IdUsuario)" title="Cancelar Invitacion"><i class="fa fa-times"></i></a>
                                    }

                                    @if (u.Estado == "ACEPTADO")
                                    {
                                        <button class="btn btn-primary btn-margin-top-15" title="Conectados desde @u.FechaCoincidencia.ToShortDateString()"><i class="fa fa-users"></i></button>
                                    }
                                </div>


                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>

    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>


