@using Genericas;

@{
    ViewBag.Title = "ResultadoBusqueda";


}

@model List<Viaje>


<head>
    <link href="~/Content/Viaje/ResultadoBusqueda.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">



                    @if (ViewBag.Rol.IdRol == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAdmin">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (ViewBag.Rol.IdRol == 2)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexAgencia">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    @if (ViewBag.Rol.IdRol == 3)
                    {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">@ViewBag.Rol.Nombre (perfil)</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <h2 class="section-heading text-uppercase">Resultado B&uacute;squeda</h2>
                <br>

                @foreach (Viaje v in Model)
                {
                    <div class="card" style="color:black;">
                        <div class="gaadiex-list" style="padding: 0 22px;">
                            <div class="gaadiex-list-item">
                                <img class="gaadiex-list-item-img" style="float: left;width: 70px; height: 70px; margin-top: 20px;
                                        margin-bottom: 8px; margin-right: 60px; border-radius: 50%;" 
                                     src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="List user" >

                                <div class="gaadiex-list-item-text">
                                    <h3>
                                        <a href="#">
                                            @v.Usuario.FirstOrDefault(u => u.IdUsuario == v.IdUsuario).NombreUsuario ,
                                            @v.Usuario.FirstOrDefault(u => u.IdUsuario == v.IdUsuario).Edad
                                        </a> Años

                                        @v.Ciudad1.Nombre - @v.Ciudad.Nombre
                                    </h3>

                                    <h5> Vuelo: @v.Aerolinea ,@v.NumeroVuelo</h5>
                                    <h5>
                                        Intereses:
                                        @if (v.InteresActividades == true)
                                        {
                                            @: Actividades
                                        }
                                        @if (v.InteresAlojamiento == true)
                                        {
                                            @: Alojamientos
                                        }
                                        @if (v.InteresAmistades == true)
                                        {
                                            @: Amistades
                                        }
                                        @if (v.InteresExcursiones == true)
                                        {
                                            @: Excursiones
                                        }
                                        @if (v.InteresTraslados == true)
                                        {
                                            @: Traslados
                                        }
                                        @if (v.InteresOtros == true)
                                        {
                                            @: Otros
                                        }
                                    </h5>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Seguir </a>
                                </div>
                            </div>
                          </div>
                      </div>
                }
          
                <br>
                @Html.ActionLink("Buscar por Destino", "BusquedaDestino", "Viaje")
                |
                @Html.ActionLink("Buscar por Vuelo", "BusquedaVuelo", "Viaje")
                <h1>@ViewBag.Error</h1>

            </div>

        </div>
    </header>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>

